<div class="dropdown dropdown-lg"> 
  <button type="button" class="btn btn-primary bt-search" 
    data-toggle="dropdown" aria-expanded="false">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  </button>                          
  <div class="dropdown-menu dropdown-menu-right" role="menu">
    <div><h2><%= t "search.lb" %></h2></div>
    <div class="search-form">
      <%= form_tag products_path, method: :get do %>
        <div><%= t "search.name" %><%= text_field_tag :name, params[:name],
          class: "form-control", placeholder: t("search.name") %>
        </div>
        <div><%= t "search.category" %><%= select_tag "category",
          options_for_select(category_select),
          class: "select form-control", include_blank: t("search.all") %> 
        </div>                  
        <div><%= t "search.rate" %>
          <%= number_field_tag :rate,params[:rate],
            min: Settings.minrate, max: Settings.maxrate, step: Settings.ratestep,
            placeholder: t("search.rate"), class: "form-control" %>
        </div>
        <div><%= t "search.min" %>
          <%= number_field_tag :min, params[:min],
          placeholder: t("search.min"), class: "form-control" %>
        </div>
        <div><%= t "search.max" %>
          <%= number_field_tag :max, params[:max], placeholder: t("search.max"), 
          class: "form-control" %>
        </div>
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      <% end %> 
    </div>
  </div>
</div>
